# Tag immagine
IMAGE_TAG=latest

# Percorso bind mount sul host
DATA_PATH=/srv/docker/sito-reckeweg

# Nome del network Docker esterno di NPM
NETWORK_NAME=kayabridge

# Backup da mantenere
MAX_BACKUPS=20
